.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 15rem;
}

.cardLogin{
    width: 360px;
    height: 480px; 
    background-color: #fff; 
    border-radius: 30px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-position{
    margin-left: 4.8rem;    
}

.logoLogin{
    margin-bottom: 0rem;
    margin-top: 1.9rem;
}

.descritionHeader{
    margin-left: 3.3rem;        
}

.inputsLogin input{
    width: 80%;
    margin-top: 5px;
    margin-bottom: 16px;
}

.position-inputs{
    margin-left: 50px;
}

.inputsLogin input[type="text"], input[type="password"]
{
    border-radius: 12px;
    border: 2px solid #E0E0E0;
    background: transparent;
    outline: none;
    height: 48px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding-left: 10px;
}

.criarConta-position{
    margin-top: 0.8rem;
    margin-left: 50px;
}

.forgetSenha-position{
    margin-bottom: 0.7rem;
    margin-left: 50px;
}

.button-position{
    /* margin-left: 3rem; */
    margin-top: 1.2rem;
    margin-bottom: 1rem;
}

.btnCancelarLogin{
    left: 3.3rem;
}