.cardCategory{
    width: 316px;
    height: 102px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #D9D9D9;  
}

.cardCategory:hover{
    background: #FFD230;
    color: #fff;
    cursor: pointer;
}

.text-card{
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.title-card{
    display: flex;
    width: 197px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.descrition-card{
    display: flex;
    margin-top: 0.4rem; 
    width: 197px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
}

.position-icon{
    margin-top: 1.8rem;
    margin-left: 2rem;
}

.circulo{
    background: url(<path-to-image>), lightgray 50% / contain no-repeat;
    width: 30px;
    height: 32px;
    flex-shrink: 0; 
}