@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-600;
  }
  a:hover {
    @apply underline;
  }
}

.active {
  @apply text-red-600;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

:root {
}

img {
  user-select: none;
  pointer-events: none;
}

.spinner {
  animation: spin 2s linear infinite;
}
.bounce {
  animation: bounce 3s linear infinite;
  transform: translateY(0);
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes bounce {
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-right {
  animation: slide-right 20s linear infinite;
}

.animate-slide-left {
  animation: slide-left 20s linear infinite;
}


/* Menu NAVBAR */
header{margin-bottom: 20px !important;}

nav.menu-navbar ul{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly !important;
 align-items: flex-end;
 align-content: flex-end;
}
 
.menu-navbar ul li{
  padding: 14px;
  margin: auto;
  font-size: 16px;
}

.menu-navbar ul li .item-menu{
  font-weight: 700 !important;

 }

.menu-navbar ul li .item-menu:hover{
 font-weight: 500 !important;
 -webkit-transition: 0.2s !important;
 -moz-transition: 0.2s !important;
 -ms-transition: 0.2s !important;
 -o-transition: 0.2s !important;
 transition: 0.2s !important;
}