@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-600;
  }
  a:hover {
    @apply underline;
  }
}

.active {
  @apply text-red-600;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

:root {
}

img {
  user-select: none;
  pointer-events: none;
}

.spinner {
  animation: spin 2s linear infinite;
}
.bounce {
  animation: bounce 3s linear infinite;
  transform: translateY(0);
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes bounce {
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-right {
  animation: slide-right 20s linear infinite;
}

.animate-slide-left {
  animation: slide-left 20s linear infinite;
}


/* Menu NAVBAR */
header{margin-bottom: 20px !important;}

nav.menu-navbar ul{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly !important;
 align-items: flex-end;
 align-content: flex-end;
}
 
.menu-navbar ul li{
  padding: 14px;
  margin: auto;
  font-size: 16px;
}

.menu-navbar ul li .item-menu{
  font-weight: 700 !important;

 }

.menu-navbar ul li .item-menu:hover{
 font-weight: 500 !important;
 -webkit-transition: 0.2s !important;
 -moz-transition: 0.2s !important;
 -ms-transition: 0.2s !important;
 -o-transition: 0.2s !important;
 transition: 0.2s !important;
}

/* BTN Doacao */

.btn-doacao {
  background: #F87171;
  /*Cordefundo*/border: none;
  border-radius: 50px;
  /*Cantoarredondado*/padding: 10px 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  /*Efeitodesombreamento*/font-size: 16px;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.btn-doacao:hover {
  background: #FF6B6B; /* Cor de fundo ao passar o mouse */
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4), -6px -6px 10px rgba(255, 255, 255, 0.4); /* Alteração do efeito de sombreamento no hover */
}

