.card-video{
    display:flex;
    flex-wrap:wrap;
    width:175.14px;
    height:242px;
    max-width:980px;
    margin-top:8%;
    border-radius:20px  ;
    background-color:#413F3F;
    transition: transform 0.5s ease;
}
 .card-video:hover{ 
    transform: scale(1.1);
    cursor:pointer;
}
.card-video img{
    height:120px;
    border-radius:20px 20px 5px 5px;
}

.titulo-video{
    color:#FFFFFF;
    weight:600;
    font-size:16px;
    padding:10px;
    padding-bottom:1rem;
}
.views-video{
    color:#ffff;
    font:"Roboto";
    font-size:10px;
    weight:300;
    color: rgba(255, 255, 255, 0.5);
}
.footer-video{
    display:flex;
    align-items:center;
    padding-top:1rem;
    padding-left:70px;
}

.footer-video .see-video{
    color:#5454FF;
    font:"Roboto";
    padding:10px;
    weight:500;
    font-size:12px;
    Line-height:14.06px;
}
.footer-video .see-video:hover{
    color:yellow;
  ;
}
