.content{
    display:flex;
    margin-left:5%;
    justify-content:center;
}
.content1{
    display:flex;
    justify-content:center;
    transition: margin-left 1s ease;
    margin-left:19%;
}
.content2{
    display:flex;
    justify-content:center;
    margin-left:5%;
    transition: margin-left 1s ease;
}

.open{
    width:15rem;
}
.close{
    width:4rem;
}
.activo{
    flex: 1;
    transition: margin-left 0.8s ease;
    margin-left:20%;
    }
    .inativo{
    flex: 1;
    transition: margin-left 0.8s ease;
    margin-left:0%;

    }
    
.avatar{
display:flex;
flex-direction:column;
align-items:center;
margin-right:30px;
gap:1;
flex-wrap:wrap;
opacity: 1;
visibility: visible;
transition: opacity 1s ease;
}
.avatarHidden{
display:none;
}
.avatar p{
color:white;
font-size:0.8rem;
opacity:0.5;
}